In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('ToyotaCorolla - MLR.csv')

In [3]:
df

,Price,Age_08_04,KM,Fuel_Type,HP,Automatic,cc,Doors,Cylinders,Gears,Weight
0,13500,23,46986,Diesel,90,0,2000,3,4,5,1165
1,13750,23,72937,Diesel,90,0,2000,3,4,5,1165
2,13950,24,41711,Diesel,90,0,2000,3,4,5,1165
3,14950,26,48000,Diesel,90,0,2000,3,4,5,1165
4,13750,30,38500,Diesel,90,0,2000,3,4,5,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,7500,69,20544,Petrol,86,0,1300,3,4,5,1025
1432,10845,72,19000,Petrol,86,0,1300,3,4,5,1015
1433,8500,71,17016,Petrol,86,0,1300,3,4,5,1015
1434,7250,70,16916,Petrol,86,0,1300,3,4,5,1015
1435,6950,76,1,Petrol,110,0,1600,5,4,5,1114

In [4]:
# Get basic information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age_08_04  1436 non-null   int64
 2   KM         1436 non-null   int64
 3   Fuel_Type  1436 non-null   object
 4   HP         1436 non-null   int64
 5   Automatic  1436 non-null   int64
 6   cc         1436 non-null   int64
 7   Doors      1436 non-null   int64
 8   Cylinders  1436 non-null   int64
 9   Gears      1436 non-null   int64
 10  Weight     1436 non-null   int64
dtypes: int64(10), object(1)
memory usage: 123.5+ KB

In [5]:
# Get summary statistics
df.describe()

,Price,Age_08_04,KM,HP,Automatic,cc,Doors,Cylinders,Gears,Weight
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000,1436.000000,1436.0,1436.000000,1436.00000
mean,10730.824513,55.947075,68533.259749,101.502089,0.055710,1576.85585,4.033426,4.0,5.026462,1072.45961
std,3626.964585,18.599988,37506.448872,14.981080,0.229441,424.38677,0.952677,0.0,0.188510,52.64112
min,4350.000000,1.000000,1.000000,69.000000,0.000000,1300.00000,2.000000,4.0,3.000000,1000.00000
25%,8450.000000,44.000000,43000.000000,90.000000,0.000000,1400.00000,3.000000,4.0,5.000000,1040.00000
50%,9900.000000,61.000000,63389.500000,110.000000,0.000000,1600.00000,4.000000,4.0,5.000000,1070.00000
75%,11950.000000,70.000000,87020.750000,110.000000,0.000000,1600.00000,5.000000,4.0,5.000000,1085.00000
max,32500.000000,80.000000,243000.000000,192.000000,1.000000,16000.00000,5.000000,4.0,6.000000,1615.00000

In [7]:
#drop column name (cylinders) because there is no variance on dataset.
df.drop('Cylinders', axis=1, inplace=True)

In [8]:
df

,Price,Age_08_04,KM,Fuel_Type,HP,Automatic,cc,Doors,Gears,Weight
0,13500,23,46986,Diesel,90,0,2000,3,5,1165
1,13750,23,72937,Diesel,90,0,2000,3,5,1165
2,13950,24,41711,Diesel,90,0,2000,3,5,1165
3,14950,26,48000,Diesel,90,0,2000,3,5,1165
4,13750,30,38500,Diesel,90,0,2000,3,5,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,69,20544,Petrol,86,0,1300,3,5,1025
1432,10845,72,19000,Petrol,86,0,1300,3,5,1015
1433,8500,71,17016,Petrol,86,0,1300,3,5,1015
1434,7250,70,16916,Petrol,86,0,1300,3,5,1015
1435,6950,76,1,Petrol,110,0,1600,5,5,1114

In [9]:
#find null values
df.isnull()

,Price,Age_08_04,KM,Fuel_Type,HP,Automatic,cc,Doors,Gears,Weight
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1431,False,False,False,False,False,False,False,False,False,False
1432,False,False,False,False,False,False,False,False,False,False
1433,False,False,False,False,False,False,False,False,False,False
1434,False,False,False,False,False,False,False,False,False,False
1435,False,False,False,False,False,False,False,False,False,False

In [10]:
#find any categorical column on data set
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

In [11]:
categorical_columns

Index(['Fuel_Type'], dtype='object')

In [12]:
#change or convert categorical column into numeric column
df['Fuel_Type'] = df['Fuel_Type'].astype('category').cat.codes

In [13]:
df

,Price,Age_08_04,KM,Fuel_Type,HP,Automatic,cc,Doors,Gears,Weight
0,13500,23,46986,1,90,0,2000,3,5,1165
1,13750,23,72937,1,90,0,2000,3,5,1165
2,13950,24,41711,1,90,0,2000,3,5,1165
3,14950,26,48000,1,90,0,2000,3,5,1165
4,13750,30,38500,1,90,0,2000,3,5,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,69,20544,2,86,0,1300,3,5,1025
1432,10845,72,19000,2,86,0,1300,3,5,1015
1433,8500,71,17016,2,86,0,1300,3,5,1015
1434,7250,70,16916,2,86,0,1300,3,5,1015
1435,6950,76,1,2,110,0,1600,5,5,1114

In [14]:
#Split the Dataset
from sklearn.model_selection import train_test_split

# Define features (X) and target variable (y)
X = df.drop('Price', axis=1)
Y = df['Price']

In [15]:
X

      Age_08_04     KM  Fuel_Type   HP  Automatic    cc  Doors  Gears  Weight
0            23  46986          1   90          0  2000      3      5    1165
1            23  72937          1   90          0  2000      3      5    1165
2            24  41711          1   90          0  2000      3      5    1165
3            26  48000          1   90          0  2000      3      5    1165
4            30  38500          1   90          0  2000      3      5    1170
...         ...    ...        ...  ...        ...   ...    ...    ...     ...
1431         69  20544          2   86          0  1300      3      5    1025
1432         72  19000          2   86          0  1300      3      5    1015
1433         71  17016          2   86          0  1300      3      5    1015
1434         70  16916          2   86          0  1300      3      5    1015
1435         76      1          2  110          0  1600      5      5    1114

[1436 rows x 9 columns]

In [16]:
Y

0       13500
1       13750
2       13950
3       14950
4       13750
        ...
1431     7500
1432    10845
1433     8500
1434     7250
1435     6950
Name: Price, Length: 1436, dtype: int64

In [18]:
# Split the dataset
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [20]:
#Build Multiple Linear Regression Models:
#Model 1: Basic Multiple Linear Regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

model1 = LinearRegression()
model1.fit(X_train, Y_train)

LinearRegression()

In [21]:
new_data = pd.DataFrame({
    'Age_08_04': [3, 5, 1],  # Example values for Age
    'KM': [15000, 30000, 5000],  # Example values for kilometers
    'Fuel_Type': [1, 0, 2],  # Replace with encoded values for Fuel_Type (e.g., CNG: 0, Diesel: 1, Petrol: 2)
    'HP': [90, 100, 70],  # Example values for horsepower
    'Automatic': [0, 1, 0],  # 0 for manual, 1 for automatic
    'cc': [1400, 1600, 1200],  # Example values for engine capacity
    'Doors': [4, 5, 4],  # Example values for number of doors
    'Gears': [5, 6, 5],  # Example values for number of gears
    'Weight': [1200, 1500, 1100]  # Example values for weight
})

In [25]:
y_pred = model1.predict(new_data)

In [27]:
print(y_pred)

[20082.8222931  26708.13124482 18607.58032768]

In [28]:
# Interpret coefficients
coefficients = pd.DataFrame(model1.coef_, X.columns, columns=['Coefficient'])
print(coefficients)

           Coefficient
Age_08_04  -121.436240
KM           -0.016936
Fuel_Type   862.056431
HP           20.658283
Automatic   245.196891
cc           -0.073515
Doors       -36.279648
Gears       530.282040
Weight       23.510643

In [30]:
#Model 2: Using Polynomial Features

from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2)
X_poly = poly.fit_transform(X)

X_train_poly, X_test_poly, Y_train_poly, Y_test_poly = train_test_split(X_poly, Y, test_size=0.2, random_state=42)

model2 = LinearRegression()
model2.fit(X_train_poly, Y_train_poly)

LinearRegression()

In [31]:
new_data1 = pd.DataFrame({
    'Age_08_04': [4, 6],
    'KM': [17000, 40000],
    'Fuel_Type': [0, 2],  # Encoded values
    'HP': [80, 90],
    'Automatic': [1, 0],
    'cc': [1400, 1600],
    'Doors': [4, 5],
    'Gears': [5, 6],
    'Weight': [1200, 1500]
})

In [32]:
new_data_poly = poly.transform(new_data1)

In [33]:
y_pred = model2.predict(new_data_poly)

In [34]:
print(y_pred)

[ -8508.13389863 -98639.42002452]

In [37]:
#Model 3: Using Feature Selection
from sklearn.feature_selection import SelectKBest, f_regression

# Adjust k to be <= the number of features in your dataset
selector = SelectKBest(score_func=f_regression, k=9)
X_selected = selector.fit_transform(X, Y)
X_train_sel, X_test_sel, Y_train_sel, Y_test_sel = train_test_split(X_selected, Y, test_size=0.2, random_state=42)
model3 = LinearRegression()
model3.fit(X_train_sel, Y_train_sel)

LinearRegression()

In [38]:
new_data2 = pd.DataFrame({
    'Age_08_04': [5, 4],
    'KM': [18000, 30000],
    'Fuel_Type': [1, 0],  # Encoded values
    'HP': [70, 80],
    'Automatic': [0, 1],
    'cc': [1400, 1600],
    'Doors': [4, 5],
    'Gears': [5, 6],
    'Weight': [1200, 1500]
})

In [39]:
new_data_selected = selector.transform(new_data2)

In [40]:
y_pred = model3.predict(new_data_selected)

In [41]:
print(y_pred)

[19375.97736209 26416.40182331]

In [44]:
#Evaluate the Performance of the Models:
def evaluate_model(model, X_train, Y_train, X_test, Y_test):
    Y_train_pred = model.predict(X_train)
    Y_test_pred = model.predict(X_test)

    print("Training Performance")
    print("MSE:", mean_squared_error(Y_train, Y_train_pred))
    print("R2 Score:", r2_score(Y_train, Y_train_pred))

    print("\nTesting Performance")
    print("MSE:", mean_squared_error(Y_test, Y_test_pred))
    print("R2 Score:", r2_score(Y_test, Y_test_pred))

# Evaluate Model 1
evaluate_model(model1, X_train, Y_train, X_test, Y_test)

# Evaluate Model 2
evaluate_model(model2, X_train_poly, Y_train_poly, X_test_poly, Y_test_poly)

# Evaluate Model 3
evaluate_model(model3, X_train_sel, Y_train_sel, X_test_sel, Y_test_sel)

Training Performance
MSE: 1708659.4906794475
R2 Score: 0.8695032279244472

Testing Performance
MSE: 2096851.1400177015
R2 Score: 0.8428476112018004
Training Performance
MSE: 1099826.3606254156
R2 Score: 0.9160021111941108

Testing Performance
MSE: 3004601.949324178
R2 Score: 0.7748145470545726
Training Performance
MSE: 1708659.4906794475
R2 Score: 0.8695032279244472

Testing Performance
MSE: 2096851.1400177015
R2 Score: 0.8428476112018004

In [46]:
#Apply Lasso and Ridge Regression:
from sklearn.linear_model import Lasso, Ridge

# Lasso Regression
lasso = Lasso(alpha=1.0)
lasso.fit(X_train, Y_train)
evaluate_model(lasso, X_train, Y_train, X_test, Y_test)

# Ridge Regression
ridge = Ridge(alpha=1.0)
ridge.fit(X_train, Y_train)
evaluate_model(ridge, X_train, Y_train, X_test, Y_test)

Training Performance
MSE: 1708721.031287136
R2 Score: 0.8694985278360453

Testing Performance
MSE: 2095598.616604184
R2 Score: 0.8429414838867533
Training Performance
MSE: 1708673.5157209306
R2 Score: 0.8695021567791126

Testing Performance
MSE: 2095305.8178633759
R2 Score: 0.8429634282301913

In [ ]:
#Discuss Assumptions and Implications
### Assumptions Made During Analysis
1. **Linearity Assumption:** We assume that there is a linear relationship between the selected features and the target variable. This may not always hold true, leading to potential biases in predictions.
2. **Feature Independence:** It is assumed that selected features are independent of each other, which may not always be the case. Multicollinearity can affect the model's performance and interpretability.
3. **Data Quality:** The analysis assumes that the data used is clean and representative of the problem domain. Any missing values or outliers can significantly impact model performance.

### Implications
- If the assumptions hold true, the model is likely to perform well on unseen data. However, if they do not hold, additional steps such as feature engineering or model selection may be necessary to improve accuracy.